<div>
    <div class="countdownContainer col-sm-12 col-md-12">
        <p>Game starting in...</p>
        <p id="countdownContainerP">30</p>
    </div>
    <div class="mafiaSpinner">
        <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;"></div>
    </div>
    <ul id="joinUserList"></ul>
</div>