<div>
    <div class="mafiaSpinner">
        <p>Waiting to start game...</p>
        <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;"></div>
    </div>
    <ul class="list-group" id="joinUserList"></ul>
</div>