<style>
    body {
        background-color: #161616;
    }
</style>

<h3 style="color: #fff">Night has fallen, close your eyes!</h3>

<figure class="dayAndNightImgs">
    <img class="img-fluid" src="~/images/half-moon.png" id="nightTimeImg" />
    <figcaption>Night Time...</figcaption>
</figure>

<audio id="nightAudio" autoplay>
    <source src="~/audio/night.mp3" type="audio/mp3">
    Your browser don't support this audio element Bub
</audio>