<style>
    body {
        background-color: #161616;
    }
</style>

<div class="text-center">
    <h3 style="color: #fff">Night has fallen, close your eyes!</h3>
</div>

    <figure class="dayAndNightImgs">
        <img class="img-fluid" src="~/images/half-moon.png" id="nightTimeImg" />
    </figure>

    <audio id="nightAudio" autoplay>
        <source src="~/audio/night.mp3" type="audio/mp3">
        Your browser don't support this audio element Bub
    </audio>
