

<div class="card border-dark text-center mb-3">
    <div id="resultDisplay" class="card-body">
        <h2 id="deadUser"></h2>

        <h2>Was Killed!</h2>

        <h2>They were a..</h2>

        <h2 id="userRole"></h2>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card border-danger text-center mb-3">
            <div class="card-body text-danger">
                <h3 class="card-title"> Remaining Mafia</h3>
                <h3 class="card-text" id="mafiaCount"></h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-success text-center mb-3">
            <div class="card-body text-success">
                <h3 class="card-title"> Remaining Villagers </h3>
                <h3 class="card-text" id="villagerCount"></h3>
            </div>
        </div>
    </div>
</div>






