<div class="alert alert-warning" role="alert">
 Please make sure your sound is on! 🎵
</div>

<div>
    <div id="gameId"></div>
    <ul class="list-group" id="userList"></ul>
</div><br>

<div>
    <button id="beginGameBtn" class="btn btn-outline-success">Begin Game</button>
</div>