<h3 class="text-center">Who would you like to kill?</h3>
<div class="text-center btn-group-vertical d-flex" id="userList"></div>

<audio autoplay>
    <source src="~/audio/shotgun_reload.mp3" type="audio/mp3">
    Your browser don't support this audio element Bub
</audio>

<script type="text/javascript">
    $(document).ready(function() {
        window.speechSynthesis.cancel();
        speak("Mafia members, open your eyes.");
    });
</script>