<h3 class="text-center">Who would you like to kill?</h3>
    <div class="countdownContainer col-sm-12 col-md-12">
        <p>Game starting in...</p>
        <p id="countdownContainerP">60</p>
    </div>
    <div class="mafiaSpinner">
        <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;"></div>
    </div>
<div class="text-center btn-group-vertical d-flex" id="userList"></div>

<script type="text/javascript">
    $(document).ready(function() {
        speak('Villagers, who are you accusing?');
    });
</script>