<h3 class="text-center">Mafia, choose your victim</h3>
<div class="text-center btn-group-vertical d-flex" id="userList"></div>

<audio autoplay>
    <source src="~/audio/shotgun_reload.mp3" type="audio/mp3">
    Your browser don't support this audio element Bub
</audio>

<script type="text/javascript">
    window.speechSynthesis.cancel();
    speak("Mafia members, it's time for you to open your eyes and choose someone to kill");
</script>