<h3 class="text-center">Who do you think is the Mafia?</h3>
<h4 class="text-center">On behalf of the villagers, <b><u>one player</u></b> select a suspect </h4>
    <div class="countdownContainer col-sm-12 col-md-12">
        <p id="countdownContainerP">60</p>
        <p>seconds to make your decision</p>
    </div>
    <div class="mafiaSpinner">
        <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;"></div>
    </div>
<div class="text-center btn-group-vertical d-flex" id="userList"></div>