

<div class="card border-dark text-center mb-3">
    <div id="victimResultDisplay" class="card-body">
        <h2 id="deadVictim"></h2>

        <h2>Was Murdered by the Mafia!</h2>

        </div>
</div>







