<style>
    body {
        background-color: #161616;
    }
</style>

<figure class="resultImgs">
    <img src="~/images/confetti.png" id="confettiImg" />
    <figcaption>Villagers Won!</figcaption>
</figure>

<audio autoplay>
    <source src="~/audio/applause.mp3" type="audio/mp3" />
    Your browser don't support this audio element Bub
</audio>

<div id="restartGameBtnDiv"></div>