<style>
    body {
        background-color: #161616;
    }
</style>

<div class="text-center">
    <h3 style="color: #fff">Villagers Won!</h3>
</div>


<figure class="resultImgs">
    <img class="img-fluid" src="~/images/confetti.png" id="confettiImg" />
</figure>

<div>
<h4 style="color: #fff">The Mafia</h4>
<ul class="list-group" id="MafiaListV"></ul>
</div>
<div>
<h4 style="color: #fff">The Villagers</h4>
<ul class="list-group" id="VillagerListV"></ul>
</div>

<audio autoplay>
    <source src="~/audio/applause.mp3" type="audio/mp3" />
    Your browser don't support this audio element Bub
</audio>

<div id="restartGameBtnDiv"></div>