/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.mafiaSpinner {
    text-align: center;
    padding: 20px;
}

.mafiaSpinner p {

}
    /*#region Pre-set CSS*/
    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #EEEEEE;
    font-family: Roboto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*#endregion*/

/*#region _Layout*/

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
.mafiaBanner {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    color: #fff;
    background-color: #000;
    margin-bottom: 10px;
}

#mafiaLogo {
    height: 8vh;
    width: auto;
    -webkit-filter: invert(1);
    filter: invert(1);
}
/*#endregion*/

/*#region _LandingPartial*/
.gameModeHeading {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.gameModeHeading:hover {
    cursor: pointer;
}

.gameModeHeading h5 {
    color: #fff;
}

/*#endregion*/


/*#region _NightTimePartial, _DayTimePartial, _DeathPartial*/
.dayAndNightImgs, .deathImgs, .resultImgs {

    text-align: center;
    padding-top: 20px;
    -webkit-filter: invert(1);
    filter: invert(1);
}
/*#endregion*/

/*#region _JoinGamePartial*/
.spinner-border {
    border-width: 0.75em;
}
/*#endregion*/